@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Noto Serif Georgian", serif;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  background: #000;
}

.bg-dark-gray {
  background-color: #141415;
}

.bg-black{
  background-color: #000;
}
.logo{
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.logo-text {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 21px;
}
.nav-item{
  margin-right: 5px;
}
.nav-item:hover {
  outline: 1px solid white;
  cursor: pointer;
}
.nav-active{
  outline: 1px solid #7a7a7a;
  border-radius: 0 !important;
}
.products-title{
  font-size: 24px;
}
.products-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 1rem;
}
.card {
  border: 1px solid #7a7a7a;
  color: white;
  border-radius: 0;
}
.card-btn{
  color: white;
  border: 1px solid #7a7a7a;
  border-radius: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.card-btn:hover{
  background-color: white;
  color: black;
}
.card-image img {
  padding: 20px;
  object-fit: cover;
  max-height: 400px;
  height: 250px;
}
.card-image {
  position: relative;
}

.card-price {
  position: absolute;
  bottom: 35px;
  right: 45px;
  font-size: 20px;
  font-weight: 600;
}
.card-body {
  padding: 0 20px 20px 20px;
}

.search {
  border: none;
  width: 50%;
  max-height: 40px;
  outline: none;
  color: white;
  position: relative;
  display: block;
}

.search-icon {
  position: absolute;
  right: 6px;
  bottom: 5px;
  color: white;
  cursor: pointer;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.links{
  display: flex;
  flex-direction: column;
}
.links a {
  color: white;
  text-decoration: none;
}
.links span a:hover {
  color: #ccc;
}
.copy {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copy img{
  width: 100px;
  height: 100px;
}
.social-links a:not(:last-child) {
  margin-right: 10px;
}

.trademark {
  display: flex;
  justify-content: flex-end;
}
.contact {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 150px;
  color: white;
}
.contact h2 {
  font-size: 24px;
}
.contact-logo {
  width: 100%;
  height: 100%;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 100px;
  color: white;
}
.about img {
  width: 100%;
  height: 100%;
}
.about-description {
  padding: 40px 20px;
  font-size: 19px;
  margin-top: 20px;
}

#language-switch {
  position: absolute;
  right: 12px;
  top: 0;
  width: 45px;
  cursor: pointer;
}

/* Osio 2 */
#osio-2 {
  padding-left: 0;
  padding-right: 0;
}

.carousel-inner img {
    object-fit: cover;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
    display: block;
  }

  .carousel-item .col-3 {
    padding: 0 5px;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
  }

/* Osio 3 */
#osio-3 .text-background {
  background-color: #141415;
  color: #ffffff;
  padding-left: 20px;
  flex-grow: 1;
}

#osio-3 .row {
  background-color: #141415;
  padding-left: 0;
}

#osio-3 h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#osio-3 p {
  font-size: 1rem;
  line-height: 1.5;
}

#osio-3 img {
  max-width: 400px;
  height: auto;
  object-fit: cover;
  display: block;
}
/*  */

.custom-toggler {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.custom-toggler[aria-expanded="true"] .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.custom-toggler[aria-expanded="true"] .line:nth-child(2) {
  opacity: 0;
}

.custom-toggler[aria-expanded="true"] .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 991px) {
  .navbar-nav {
    padding: 20px 0;
  }
  .nav-item {
    text-align: center;
    margin: 5px 0;
  }
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

@media (min-width: 640px) {
  .products-list {
    grid-template-columns: 1fr;
  }

}

@media (min-width: 768px) {
  .products-list {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .about {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  .about-description {
    margin-top: 0px;
  }
  #language-switch {
    width: 60px;
  }
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

}

@media (min-width: 1280px) {
  .products-list {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}


/* Yhteydenottolomake */

.contact-info, .contact-section {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
}

.contact-info h2, .contact-section h2 {
  color: white;
}

.contact-section {
  margin-top: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: #2a2a2a;
  border: 1px solid #555;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form button {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #ddd;
}


/* Index osio4 */
.text-box-grid {
  width: 100%;
  height: 100%;
  background-color: #141415;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.palvelut-images {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}
.palvelut-images div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.palvelut-images img, .palvelut-images div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.palvelut-description {
  font-size: 19px;
}

@media (hover: hover) and (pointer: fine) {
  /* WebKit */
  ::-webkit-scrollbar {
    width: 0;
  }
  /* Firefox */
  * {
    scrollbar-width: none;
  }
}